<article>
    <p>
        Nicotine is a very addictive substance, and in itself can be quiet dangerous.
        In the large, most people who are addicted to nicotine choose to smoke cigarettes.
        However smoking is one of the most harmful ways to deliver nicotine to our bodies.
        There is a substantial amount of research done on the subject of smoking dangers.
    </p>

    <p>
        Luckily the trend of smoking is declining with many people either quitting on smoking or reserving to a less dangerous alternatives.
        And research shows that the more attempts to quit are made, the better are the chances of quitting nicotine for good.
    </p>

    <p>
        We try to present and help choosing the alternatives to smoking that would help you live a healthier lives.
    </p>
</article>