<article>

    <p data-ng-repeat="d in description">{{d}}</p>

	<h4>Many types of smokeless tobacco</h4>

	<div class="table-responsive">
		<table class="table table-hover" summary="Types of smokeless tobacco">
			<thead>
				<tr>
					<th>Name</th>
					<th>Form</th>
					<th>Application</th>
					<th>Flavors</th>
                    <th>Images</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="type in snusTypes">
					<td>{{type.name}}</td>
					<td>{{type.condition}}</td>
					<td>{{type.application}}</td>
					<td>{{type.flavors}}</td>
                    <td>
                        <div data-ng-show="type.images.length > 0">
                            <div class="image-hover" data-ng-click="openModal($event, type)">
                                <img data-ng-src="{{type.images[0].source}}" alt="{{type.name}}" class="table-image"/>
                            </div>
                        </div>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>

</article>